# Relatório III - Separando os imóveis residenciais de outros

### Importações e coisas do gênero

In [2]:
import pandas as pd

dados = pd.read_csv('arquivos/aluguel.csv', sep =';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

### Separando as casas do resto

In [33]:
imoveis = list(dados['Tipo'].drop_duplicates())
imoveis

residencial = []
for imovel in imoveis:
    if(imovel == 'Casa' or imovel == 'Apartamento' or imovel == 'Casa de Vila' or imovel == 'Casa de Condomínio' or imovel == 'Quitinete'):
        residencial.append(imovel)
    
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

### Agora vou criar um DataFrame apenas com as casas

In [34]:
#Criei 'Seleção' para selecionar os os tipos que estão em 'dados' e em 'residencial'
selecao = dados['Tipo'].isin(residencial)

In [41]:
#Criei um DataFrame com essa seleção
dados_residenciais = pd.DataFrame(dados[selecao])

In [42]:
#Corrigindo index
dados_residenciais.index = range(dados_residenciais.shape[0])

In [47]:
#Conferindo meus itens para saber se estão realmente dentro do DataFrame
dados_residenciais['Tipo'].value_counts()

Apartamento           19532
Casa de Condomínio      996
Casa                    967
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64

## Agora vou exportar os dados novos para CSV antes de iniciar o novo relatório

In [49]:
dados_residenciais.to_csv('arquivos/dados_residenciais.csv', sep=';', index = False)

In [50]:
#Vou puxar de volta para ver se ficou tudo correto

In [52]:
dados1 = pd.read_csv('arquivos/dados_residenciais.csv', sep=';')
#dados1.tail() # Está tudo correto

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN